:root {
  --card-width: 270px;
  --color-blue: rgb(0, 63, 253);
  --color-purple: rgb(156, 90, 214);
}

*, ::before, ::after {
  box-sizing: border-box;
}
body { 
  background-color: rgb(226, 226, 226);
}
.card-deck {
  width: calc(100vw - 16vw);
  margin: 15px auto;
  padding: 0 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  align-content: space-around;
  gap: 30px;

}
.card-container {
  background-color: rgb(255,255,255);
  border: 1px solid #000;
  width: 260px;
  /* min-width: 174px; */
  height: auto;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0px 0px 3px 3px rgba(125, 125, 125, 0.4);
  position: relative;
  transition: 0.2s transform, box-shadow;
  font-size: 1rem;
  z-index: 1;
}
.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 0;
  z-index: 2;
}

.card-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


/* --- Top Section ------ */
.card-top {
  width: 100%;
  height: 55%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  background-color: #000;
}

.card-top img {
  width: 100%;
	object-fit: cover;
  display: block;
  position: relative;
}
/* --- Top Section ------ // */


/* --- Bottom Section ------ */
.card-bottom {
  position: relative;
  min-height: 45%;
  padding: 30px;
  padding-bottom: 14px;
  border-radius: 0 0 12px 12px;
  /* box-shadow: 0 0 4px 4px var(--color-blue) inset; */

}
.card-bottom h1 {
  text-align: left;
  font-size: 1.5em;
}
.card-bottom p {
  font-size: 1em;
  text-align: left;
}
.card-bottom p.card-caption {
  font-size: 0.8rem;
}
.card-bottom p.card-details {
  font-size: 0.8rem;
  font-weight: 600;
}
.hash-tag a {
  text-decoration: none;
}

.card-portrait {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  position: absolute;
  top: -30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 3px rgba(125, 125, 125, 0.4);
  z-index: 1;
}
.card-portrait img {
  width: 100%;
  object-fit: cover;
}

.btn-wrapper {
  margin-top: -1rem;
  text-align: right;
  position: relative;
}
.follow-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0;
  position: relative;
  border-radius: 12px;
  padding: 8px 15px;
  transition: 0.2s transform, box-shadow;

  color: var(--color-purple);
  background: rgb(255, 252, 255);
  /* background-clip: padding-box; */
  border: solid 2px var(--color-purple);
  /* z-index: 2; */
}

.follow-btn:hover  {
  /* transform: scale(1.05); */
  border: solid 2px transparent;
  box-shadow: 0 0 3px 0 rgb(160, 0, 253);
  color: #fff;
  background-image: radial-gradient(rgb(0, 63, 253), rgb(93, 0, 253) 75%, rgb(160, 0, 253) 100%);
}
.follow-btn:active {
  border: solid 2px var(--color-purple);;
  color: var(--color-blue);
  background: #fff;
  box-shadow: none;
}
.follow-btn.highlight {
  background-color: var(--color-blue);
  border: solid 2px var(--color-blue);
  color: #fff;
}
.follow-btn.highlight:active {
  color:  var(--color-purple);
  background: #fff;
}
/* --- Bottom Section ------ // */

/* ====== Media Queries Section ===== */

@media screen and (max-width: 1024px) {
  
  .card-deck {
    width: calc(100vw - 15vw);
  }
}

@media screen and (min-width: 600px) and (max-width: 1050px) {
  
  .card-deck {
    width: calc(100vw);
    justify-content: center;
  }

  .btn-wrapper {
    margin-top: -15px;
    /* text-align: left; */
  }

  .card-title {
    margin-top: 12px;
  }
}


@media screen and (max-width: 599px) {
  
  .card-deck {
    width: calc(100vw);
    justify-content: center;
  }
  .card-container {
    width: calc(100vw - 20px);
  }
}